<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">
	<id>paradygm-emr</id>
	<name>Paradygm EMR Module</name>
	<version>1.0.0-SNAPSHOT</version>
	<package>org.openmrs.module.paradygm</package>
	<author>paradygm</author>
	<description>
		Base module for Paradygm backend dependencies.
	</description>

	<activator>org.openmrs.module.paradygm.ParadygmEmrActivator</activator>

	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>org.openmrs.module.paradygm.advice.BeforeSaveAdvice</class>
	</advice>

	<require_modules>
		<require_module version="4.10.0">org.openmrs.module.idgen</require_module>
		<require_module version="2.2.0">org.openmrs.module.datafilter</require_module>
		<require_module version="1.22.0">org.openmrs.module.legacyui</require_module>
	</require_modules>
</module>