<?xml version="1.0" encoding="UTF-8"?>
<module configVersion="1.2">
	<id>paradygm-emr</id>
	<name>Paradygm EMR Module</name>
	<version>1.0.0-SNAPSHOT</version>
	<package>org.openmrs.module.paradygm</package>
	<author>paradygm</author>
	<description>
		Base module for Paradygm backend dependencies and customizations like the Patient Identifier
	</description>

	<activator>org.openmrs.module.paradygm.ParadygmEmrActivator</activator>

	<!-- Add these service beans -->
	<beans>
		<!-- Custom Entity Basis Map Service -->
		<bean id="paradygm.customEntityBasisMapService"
			  class="org.openmrs.module.paradygm.CustomEntityBasisMapService">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>

		<!-- Form Location Service -->
		<bean id="paradygm.formLocationService"
			  class="org.openmrs.module.paradygm.FormLocationService">
			<property name="entityBasisMapService" ref="paradygm.customEntityBasisMapService"/>
		</bean>

		<!-- Form Location Filter Listener -->
		<bean id="paradygm.formLocationFilterListener" class="org.openmrs.module.paradygm.FormLocationFilterListener"/>
	</beans>

	<advice>
		<point>org.openmrs.api.PatientService</point>
		<class>org.openmrs.module.paradygm.advice.BeforeSaveAdvice</class>
	</advice>

	<require_modules>
		<require_module version="4.10.0">org.openmrs.module.idgen</require_module>
		<require_module version="2.2.0">org.openmrs.module.datafilter</require_module>
	</require_modules>
</module>